

.program-selection__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}

.program-selection__description p {
  font-family: Oswald;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
}

.program-selection__button a {
  padding: 15px 75px;
  background: #68B738;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.program-selection__wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  @media (min-width: @tablet-width) {
    grid-template-rows: 1fr 1fr;
  }
  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.program-selection__description {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  order: 1;
}

.program-selection__back-image {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  background: rgba(104, 183, 56, 0.85);
  width: 320px;
  height: 302px;
  img {
    opacity: 0.15;
  }
  @media (min-width: @tablet-width) {
    display: none;
  }
  @media (min-width: @desktop-width) {
    display: block;
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 4;
  }
}

.program-selection__image {
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 4;
  @media (min-width: @desktop-width) {
    display: block;
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 4;
  }
}

.program-selection__button{
  grid-column: 1;
  grid-row: 4;
  @media (min-width: @tablet-width) {
    grid-row: 2;
  }
}
